img {
    object-fit:cover;
    border-radius:10px;
    height: 200px;
    width: 100%;
}
body{
    background-color: gray;
}
#container{
    margin: auto;
    margin-top:20vh;
    max-width:300px;
}
.card{
    border-radius:10px;
    border: 10px solid white;
    background-color: white;
    padding: 10px;
}
h1{
    margin-top:16px;
    font-size: 20px;
}
p{
    font-size: 15px;
    color: gray;
    line-height:150%;
}