* {box-sizing: border-box;}
body {
    background-color: red; 
}
.container {
    margin: auto;
    width: 40%;
    padding: 17px;
    background-color: white;
}

input[type='password'],
input[type='text'] {
    background: white;
    border: none;
    display: incline-block;
    margin: 6 px 0 23px 0;
    padding: 15px;
    width: 100%;
    

}
button{
    display: block;
    margin: 0 auto;
}
h1{
    font-size:30px;
}
p{
    font-family:"Lucida Console", "Courier New", monospace;
    font-size: 13px;
}
