body {
    background-color:gray;
    padding:0px;margin:0px;
    font-family:Arial, Helvetica, sans-serif, Times, sans-serif;
}
header {
    background-color:lightgray;
    text-align:center;
    padding:10px;
}
section {
    background-color:lightgray;
    padding:200px;
    margin:200px;
}